﻿@model MS_WebAppNET.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Genre: @Model.Genre.Name</li>
    <li>Release Date: @Model.ReleaseDate.Date.ToString("D")</li>
    <li>Date Added: @Model.DateAdded.Date.ToString("D")</li>
    <li>Number in Stock: @Model.NumberInStock</li>
</ul>

