﻿@model IEnumerable<MS_WebAppNET.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>


<a class="btn btn-success" href="/Movies/New">Add new movie</a>

<table id="movies" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
    

@section scripts
{
    <script>
        
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/movies/details/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a class='btn btn-warning' href='/movies/edit/" +
                                data +
                                "'>Edit</a>";
                        },
                        orderable: false
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-link js-delete' data-movie-id=" +
                                data +
                                ">Delete</button>";
                        },
                        orderable: false
                    }
                ]
            });
            $("#movies").on("click", ".js-delete",
                    function () {
                        var button = $(this);
                        bootbox.confirm("Are you sure you want to delete this movie?",
                            function (result) {
                                if (result) {
                                    $.ajax({
                                        url: "/api/movies/" + button.attr("data-movie-id"),
                                        method: "DELETE",
                                        success: function () {
                                            table.row(button.parents("tr")).remove().draw();
                                        }
                                    });
                                }
                            });
                    });
        });

    </script>

}
