﻿@model IEnumerable<MS_WebAppNET.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>


<table id="customers" class="table table-hover table-bordered">
            
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    </tbody>

</table>

<a class="btn btn-success" href="/Customers/New">Add new customer</a>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: "" //this can be set to "customers" for example if the json array is named. In my case it is not so the string is empty.
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, customer) {
                            return "<a href='/customers/details/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<a class='btn btn-warning' href='/customers/edit/" +
                                data +
                                "'>Edit</a>";
                        },
                        orderable: false
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn btn-link js-delete' data-customer-id=" +
                                data +
                                ">Delete</button>";
                        },
                        orderable: false
                    }
                ]
            });
                $("#customers").on("click", ".js-delete",
                        function () {
                            var button = $(this);
                            bootbox.confirm("Are you sure you want to delete this customer?",
                                function(result) {
                                    if (result) {
                                        $.ajax({
                                            url: "/api/customers/" + button.attr("data-customer-id"),
                                            method: "DELETE",
                                            success: function () {
                                                table.row(button.parents("tr")).remove().draw();
                                            }
                                        });
                                    }
                                });
                        });
            });
    </script>
}
